h1, h2, h3 ,p ,ul ,li, a{
	margin: 0;
}

.clearfix {
	clear: both;
}

a {
	color: black;
}

a:hover {
	color: #6ffffc;
}

#header {
	z-index: 100;
	background-color: #6FFFFC;
	background-image: url(http://demo.syakirurohman.net/template/elrumi/assets/img/bg.png);
	margin-bottom: -50px;
	position: fixed;
	width: 100%;
}

#logo {
	display: fixed;

}

nav a:hover {
	color: white;
}

#header .container {
	line-height: 70px;
}

.md_nav {
	display: none;
}

.sm_nav {
	display: none;
	margin-right: 0;
}

.sm_nav a:hover {
	color: #6ffffc;
}

#menu-trigger img {
	width: 50px;
	height: 50px;
	top: 8px;
	right: 5%;
	position:fixed
	
}

.sm_nav a {
	font-size: 24px;
}


.sm_nav.open {
		display: block;
		float: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: #FFDC64;
		
		text-align: center;
		padding-top: 20%;
}









.h_1 {
	background-color: #6FFFFC;
	background-image: url(http://demo.syakirurohman.net/template/elrumi/assets/img/bg.png);
}



.h_1 h1 {
	margin: 100px 0;
	padding: 0 10%;
	line-height: 100px;
	color: white;
	font-family: Raleway;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 6vw;
}

.h_2 {
	margin: 150px 0 80px 0;
}

.h_2 h2 {
	letter-spacing: 2px;
	line-height: 40px;
	font-weight: bold;
}

.h_2 p {
	font-family: Lobster;
	font-style:italic;
}

.h_2 h6 {
	font-weight: bold;
}





.md_nav_bar {
	display: none;
	margin-bottom: 40px;
	font-size: 13px;
	letter-spacing: 2px;
}

.sm_nav_bar {
	width: 88%;
	margin: 0 auto 70px auto;
}

.sm_nav_bar button {
	margin-bottom: 20px;

}


.img_pro img {
	width: 88%;
	margin: 0 auto;
	margin-bottom: 20px;
	clear: both;
}

.focus:hover {
	opacity: 1;
}

.focus {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 70vw;
	background-color: #000000;
}	

.focus h3 {
	color: #ffffff;
	font-size: 4.5vw;
	margin-top: 60px;
	padding-bottom: 40px;
}

.focus p {
	color: #ffffff;
	font-size: 2.5vw;
	padding-bottom: 15%;
	font-style:italic;
}

.focus a {
	color: #ffffff;
	font-size: 3vw;
	line-height: 60px;
}

.focus a:hover {
	color: #6FFFFC;
}


.read_more {
	margin: 20px auto 100px auto;
}

#footer .container {
	height: 140px;
}






#footer {
	background-color: #FFDC64;
}

#footer #logo {
	padding: 30px 0 0 0;
	margin: 0 auto;
}

#footer .footer_nav {
	margin: 10px 0;
	letter-spacing: 2px;
}

#footer p {
	margin: 10px 0;
}



@media (min-width: 1200px) {
	.md_nav {
		display: block;
	}

	#menu-trigger img {
		display: none;
	}

	.md_nav_bar {
		display: block;
	}

	.sm_nav_bar {
		display: none;
	}

	
	.img_pro img {
		width: 27vw;
	}

	.focus {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 20vw;
	}

	.focus h3 {
		margin-top: 40px;
		padding-bottom: 20px;
		font-size: 1.8vw;
		
	}

	.focus p {
		font-size: 1.3vw;
		padding-bottom: 10px;
	}

	.focus a {
		font-size: 1.5vw;
		line-height: 60px;
	}


}

